:root{
    --scroll-height: 20px ;
}
h1{
    align-items: center;
    text-align: center;
    font-size: 3rem;
    background-color: #000000;
    color: #fff;
}
section{
    font-size: 1.5rem;
    margin-inline: auto;
    padding-block: var(--scroll-height);
    width: min(60ch, 100%);
    text-align: center;
    
}
p{
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}
img{
    animation: reveal 1ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;
}
.c-indicator{
    animation: scroll 1ms ease-in-out;
    animation-timeline: scroll() ;
    background-color: blue;
    transform-origin: left;
    height: var(--scroll-height);
    inset: 0;
    position: fixed;
}
@keyframes appear {
    from{
        opacity: 0;
        translate: -100vh 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes scroll {
    from{
        scale: 0 1;
        opacity: 0.5;
    }
    to{
        scale: 1 1;
        opacity: 1;
    }
}

@keyframes reveal {
    from{
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }
    to{
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}